.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide1{
  background-image: url("../../../public/Rectangle 23.jpg");
}
.slide2{
  background-image: url("../../../public/Rectangle 24.jpg");
}
.slide3{
  background-image: url("../../../public/Rectangle 28.jpg");
}
.slide4{
  background-image: url("../../../public/Rectangle 23.jpg");
}
